<footer class="footer">
  <div class="container">
    <div class="row">
      <!-- <div class="col-lg-4 footer-item">
        <p class="footer-soon">
          Coming Soon
        </p>
      </div> -->
      <div class="col-lg-6 footer-item">
        <div class="footer-content">
          <form class="" action="/newsletter" method="post">
            <input
              class="form-control subscribe"
              type="email"
              name="subscribemail"
              placeholder="Your Email Here"
            />
            <br />
            <button class="btn btn-subscribe">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="col-lg-6 footer-item getintouch">
        <div class="footer-content">
          <address>
            10/63 Marsh Orchid Street <br />Tarkwa <br />P.O Box 291, Obuasi
          </address>
          <a href="tel: +233 54 3288 549" class="phone">
            +233 543 288 549
          </a>
          <div class="icons">
            <a href="">
              <i class="fa fa-facebook mx-1"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter mx-1"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram mx-1"></i>
            </a>
            <a href="https://wa.me/233543288549">
              <i class="fa fa-whatsapp mx-1"></i>
            </a>
            <a href="">
              <i class="fa fa-envelope mx-1"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="copy">
      <p class="mx-auto copy" id="copyright"></p>
    </div>
  </div>
</footer>
