<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&family=Lobster&family=Oswald:wght@300" rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link
      href="fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
    href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    type="text/css"
  />
   
    <link rel="stylesheet" href="css/index.css" />

    <title>Atrady</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a href="/" class="navbar-brand">
        <img src="../images/logo.png" alt="" class="logo">
        </a>
      </div>
    </nav>
    <section class="cta">
      <div class="cta-container">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active first">
               
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-block-right">
                <p class="primary-text">
                  Launching Soon
                </p>
                <p class="launch">
                  Please enter your email to be notified when we launch.
                </p>
                <form action="" class="form-inline">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                  <button class="btn btn-notify">
                    Get notified
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
            </div>
            <div class="carousel-item second">
             
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-block-right">
                <p class="primary-text">
                  Launching Soon
                </p>
                <p class="launch">
                  Please enter your email to be notified when we launch.
                </p>
                <form action="" class="form-inline">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                  <button class="btn btn-notify">
                    Get notified
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
            </div>
            <div class="carousel-item third">
              
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-block-right">
                <p class="primary-text">
                  Launching Soon
                </p>
                <p class="launch">
                  Please enter your email to be notified when we launch.
                </p>
                <form action="" class="form-inline">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter your email"
                  />
                  <button class="btn btn-notify">
                    Get notified
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
            </div>
          </div>
          <!-- <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
        <!-- 
        <svg
          class="wave"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1440 320"
        >
          <path
            fill="#cf7500"
            fill-opacity="1"
            d="M0,256L21.8,261.3C43.6,267,87,277,131,282.7C174.5,288,218,288,262,282.7C305.5,277,349,267,393,266.7C436.4,267,480,277,524,245.3C567.3,213,611,139,655,144C698.2,149,742,235,785,234.7C829.1,235,873,149,916,112C960,75,1004,85,1047,74.7C1090.9,64,1135,32,1178,58.7C1221.8,85,1265,171,1309,192C1352.7,213,1396,171,1418,149.3L1440,128L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"
          ></path>
        </svg> -->
      </div>
    </section>
    <section class="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 mx-auto">
            <div class="feature">
                <i class="fas fa-rocket"></i>
                <p class="feature-text">
                  Blazing fast deliveries
                </ul>
            </div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="feature">
              <i class="fas fa-user"></i>
              <p class="feature-text">
                User tailored collections
              </ul>
            </div>
          </div>
          <div class="col-lg-4 mx-auto">
            <div class="feature">
                <i class="fas fa-shipping-fast"></i>
                <p class="feature-text">
                  Affordable and quality products
                </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="cta-2">
      <div class="container">
        <div class="buttons">
            <span>
              <button class="btn btn-sell">List your products</button>
            </span>
            <span>
              <button class="btn btn-buy">Shop with us</button>
            </span>
        </div>
      </div>
    </section>
    <section class="coming-soon">
      <div class="container">
        <div class="text-block">
          <p class="soon">Coming Soon</p>      
        </div>
      </div>
    </section>
    <%-include("partials/footer")-%>

    <!-- Scripts --><!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
    <script src="./scripts/copyright.js"></script>
  </body>
</html>
