nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.cta {
  padding: 100px 0;
  background: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
}

/* .navbar-brand {
  color: #000b76 !important;
  font-weight: bold;
} */

body {
}

section {
  padding: 50px 0;
}

.primary-text {
  font-size: 1.5rem;
  color: #cf7500;
}
.heading {
  font-size: 3rem;
  font-weight: bold;
}

.btn-notify {
  /* background-color: #000b76; */
  background-color: black;
  color: whitesmoke;
}

.features {
  background-color: #f4f4f4;
}
.feature {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px;
}

.feature:hover {
  transform: translateY(-20px);
  background-color: #342b38;
  color: white;
}

.feature-text {
  font-weight: bold;
}

.feature .fas {
  font-size: 3rem;
  color: #cf7500;
  padding: 10px;
}

.buttons {
  text-align: center;
}
