nav {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.cta {
  padding: 100px 0;
  background-image: url("../images/bg2.jpg");
  background-position: center;
  background-size: cover;
}

.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.logo {
  width: 40px;
}

body {
}

section {
  padding: 50px 0;
}

.primary-text {
  font-size: 1.5rem;
  color: #cf7500;
  font-weight: bold;
}
.heading {
  font-size: 3rem;
  font-weight: bold;
}

.btn-notify {
  /* background-color: #000b76; */
  background-color: black;
  color: whitesmoke;
}

.features {
  background-color: #f4f4f4;
}
.feature {
  text-align: center;
  background-color: #ffffff;
  padding: 20px 0;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 10px;
}

.feature-text {
  font-weight: bold;
  color: black;
}
.feature:hover {
  transform: translateY(-20px);
  color: white;
}

.feature .fas {
  font-size: 3rem;
  color: ffb385;
  padding: 10px;
}

.cta-2 {
  background-color: #fcf8f3;
}

.buttons {
  text-align: center;
}

.buttons button:hover {
  color: white !important;
}

.btn-buy {
  background-color: black;
  color: white;
}

.btn-sell {
  border: 1px solid black;
  color: black;
}

.btn-sell:hover {
  background-color: black;
}

.coming-soon {
  text-align: center;
  color: #393e46;
}

.soon {
  font-size: 3rem;
  font-weight: bold;
}

footer {
  padding: 20px 0;
  background-color: #1b262c;
  color: white;
  font-weight: bold;
}

.footer-soon {
  margin-top: 60px;
  font-size: 2.5rem;
  /* margin-bottom: auto; */
}

footer a {
  text-decoration: none;
  color: white;
}

.footer-item {
  text-align: right;
}

footer a:hover {
  text-decoration: none;
  color: white;
}

.copy {
  text-align: center;
}
@media screen and (max-width: 500px) {
  .cta {
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-notify {
    margin-top: 10px;
  }
}
